
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
main {
  position: relative;
}
/* sezione sidebar */
#box-sidebar{
  width: 250px;
  height: calc(100vh - 80px);
  background-color: #000000;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}
#box-sidebar .box-top-sidebar{
  min-height: 400px;
}
#box-sidebar .logo-sidebar{
  padding: 20px 80px 20px 20px;
}

#box-sidebar .box-menu-sidebar{
  margin: 10px 0;
}
#box-sidebar .box-menu-sidebar img{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
#box-sidebar .menu-button{
  display: block;
  width: 100%;
  line-height: 35px;
  color: #6e6e6e;
  text-decoration: none;
  padding-left: 20px;
}
#box-sidebar .menu-button:hover{
  color: white;
}
#box-sidebar .menu-button:hover .plus-playlist{
  background-color: white;
}

#box-sidebar .box-menu-sidebar .button-active{
  color: white;
  border-left: 3px solid #adff2f;
  padding-left: 17px;
}
#box-sidebar .box-playlist-sidebar{
  min-height: 300px;
  overflow-y: hidden;
}
#box-sidebar .box-playlist-sidebar .plus-playlist{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #6e6e6e;
  color: black;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
#box-sidebar .box-playlist-sidebar h4{
  padding-left: 20px;
  line-height: 35px;
}
#box-sidebar .box-bottom-sidebar{
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
  background-color: #000000;
}
#box-sidebar .box-bottom-sidebar i{
  margin-right: 10px;
}

#box-sidebar .box-bottom-sidebar .row-art{
  background-color: #6e6e6e;
  height: 1px;
  width: 210px;
  margin: 0 20px;
}
#box-sidebar .box-bottom-sidebar .user-sidebar{
  color:white;
}
#box-sidebar .box-bottom-sidebar .user-sidebar .user-icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #6e6e6e;
  overflow: hidden;
  margin-right: 10px;
}
#box-sidebar .box-bottom-sidebar .user-sidebar .user-icon img{
  width: 100%;
}

/* fine sezione sidebar */

/* sezione main windows */
#box-main-content{
  position: absolute;
  top:0;
  right:0;
  width: calc(100% - 250px);
  height: calc(100vh - 80px);
  background-color: #141922;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
}

/* barra in alto dell'upgrade */

#box-main-content .bar-upgrade{
  width: calc(100% - 250px);
  height: 80px;
  background-color: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
}

#box-main-content .bar-upgrade .button-upgrade{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  vertical-align: middle;
  height: 40px;
  padding: 10px 40px;
  margin-right: 10px;
}
/* fine barra in alto dell'upgrade */

/* MENU CENTRALE */
#box-main-content .main-menu{
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align: center;
}
#box-main-content .main-menu li{
  display: inline-block;
  margin: 10px;
  padding-top: 10px;
}
#box-main-content .main-menu li .button-main-menu{
  text-decoration: none;
  color: #6e6e6e;
}
#box-main-content .main-menu li .row-active-main-menu{
  background-color: #adff2f;
  height: 2px;
  width: 2em;
  margin: auto;
}
/* FINE MENU CENTRALE */

/* INIZIO CATALOGO */

#box-main-content .catalog-album .catalog-title{
  margin: 10px 0;
}

#box-main-content .catalog-album .catalog-list{
  display: flex;
  flex-wrap: wrap
}


#box-main-content .catalog-album .catalog-list .box-album{
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
}

#box-main-content .catalog-album .catalog-list .box-album .album-title{
  margin: 5px 0;
}
#box-main-content .catalog-album .catalog-title {
  font-size: 1.7em;
}
#box-main-content .catalog-album h5{
  font-size: 1.2em;
}
#box-main-content .catalog-album h6 {
  color: #6e6e6e;
  margin: 5px 0;
}

#box-main-content .catalog-album .catalog-list .box-album .album-photo{
  width: 100%;
}

#box-main-content .catalog-album .catalog-list .box-album .album-photo img{
  width: 100%;
  margin: 0 auto;
}
#box-main-content .catalog-album .catalog-list .box-album .album-artist{
  border-radius: 50%;
  overflow: hidden;
}
/* fine sezione main windows */

/* sezione player bottom */
#box-player-bottom{
  width: 100%;
  height: 80px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#box-player-bottom .actual-album {
  max-width: 250px;
  width: 250px;
}
#box-player-bottom .box-img-media{
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right:1em
}

#box-player-bottom .box-img-media .title-album-media .title-media{
  display: inline-block;
}

#box-player-bottom .box-img-media img {
  width: 30px;
  height: 30px;
}
#box-player-bottom .media-player{
  width: 60%;
  min-width: 30%;
  text-align: center;
  font-size: 0.67em;
}
#box-player-bottom .media-player .nav-media-player a{
  height: 20px;
  width: 20px;
  margin: 0 5px;
}
#box-player-bottom .media-player .nav-media-player .play-button{
  font-size: 2em;
}
#box-player-bottom .media-player .nav-media-player{
  text-align: center;
  vertical-align: middle;
}
#box-player-bottom .media-player input{
  width: calc(100% - 50px);
  max-width: 400px;
}
#box-player-bottom .media-player .time-song{
  text-align: center;
  width: 40%:
}



#box-player-bottom .volume-media {
  width:200px;
  text-align: right;
}
#box-player-bottom .volume-media input{
  width: 50%;
}
.layout-xs{
  display: none;
}
@media all and (min-width: 926px) and (max-width: 1280px) {

  #box-main-content .catalog-album .catalog-list .box-album {
    width: calc(100% / 4);
  }
  #box-player-bottom .media-player{
    width: 50vw;
  }
  #box-player-bottom .actual-album {
    width: 200px);
  }
  #box-player-bottom .volume-media {
  width: 200px;
}
}
@media all and (max-width: 925px) {

  #box-main-content .catalog-album .catalog-list .box-album {
    width: calc(100% / 2);
  }
  #box-player-bottom .media-player{
    width: 50vw;
  }
  #box-player-bottom .actual-album {
    width: 200px;
  }
  #box-player-bottom .volume-media {
  width: 200px;
  }
}
@media all and (max-width: 667px) {
  #box-sidebar {
    width: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #box-sidebar .logo-small{
    margin-bottom: 10px;
  }
  .layout-xs{
    display: inline-block;
  }
  .layout-lg{
    display: none;
  }
  #box-main-content{
    width: calc(100vw - 60px);
  }
  #box-main-content .bar-upgrade{
    width: calc(100vw - 60px);
  }
  #box-sidebar .box-bottom-sidebar-xs a{
    color: #6e6e6e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  #box-sidebar .user-icon-xs{
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #6e6e6e;
    overflow: hidden;
    margin-top: 10px;
  }
}
@media all and (max-width: 667px) {
  #box-player-bottom .icon-title i{
    display: block;
  }
  #box-player-bottom .media-player .nav-media-player a{
    height: 15px;
    width: 15px;
    margin: 0 3px:
  }
}
